<<<<<<< HEAD
<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
<%- include("partials/footer"); -%>
=======
<%- include("partials/header") %>

<h1>Contact</h1>
<p> <%= contactContent %> </p>

<%- include("partials/footer") %>
>>>>>>> 22f42cbd5fc1609539792b8f62af56e176e7055e
