<<<<<<< HEAD

<%- include("partials/header"); -%>
    <h1>Home</h1>
    <p> <%= startingContent %> </p>


  <%  posts.forEach(function(post){ %>

    <h1><%=post.title%></h1>
    <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
    </p>


    <% }) %>


<%- include("partials/footer"); -%>
=======
<%- include("partials/header") %>

<h1>Home</h1>

<p> <%= homeContent %> </p>


<% posts.forEach(post => { %>
 <% let previewBody =  post.entryBody.substring(1,101) + " ..." %> 
<div>
    <h2><%= post.entryTitle  %>  </h2>
    <p> <%= previewBody %> </p>
    <a href="/post/<%= post.entryTitle %>"  >Read more </a>

</div>

<% }); %>

<%- include("partials/footer") %>
>>>>>>> 22f42cbd5fc1609539792b8f62af56e176e7055e
