<<<<<<< HEAD
<%- include("partials/header"); -%>

  <h1><%=title%></h1>
  <p><%=content%></p>

<%- include("partials/footer"); -%>
=======
<%- include("partials/header") %>

<h2> <%= singlePost.entryTitle %> </h2>
<p> <%= singlePost.entryBody %> </p>



<%- include("partials/footer") %>


>>>>>>> 22f42cbd5fc1609539792b8f62af56e176e7055e
